<div class="bg-white rounded-xl shadow-lg border border-gray-200 py-8 px-4">
	<div class="flex items-center justify-center h-[3.125rem] mb-4">
		<img src="{{ image }}"
			alt="{{ title }}"
			width="{{ width }}"
			height="{{ height }}"
			loading="lazy"
			class="{{ customClass }}" />
	</div>

	<h3 class="uppercase font-bold text-gray-500 text-center text-xs">
		{{ title }}
	</h3>
</div>
